@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  touch-action: manipulation;
}

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-geist-mono: "Geist Mono", monospace;
  --font-geist: "Geist", sans-serif;
  --font-plex-mono: "IBM Plex Mono", monospace;

  --animate-settings-modal-up: settings-modal-up 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.1);
  --animate-settings-modal-down: settings-modal-down 0.3s
    cubic-bezier(0.215, 0.61, 0.355, 1);

  @keyframes settings-modal-up {
    0% {
      opacity: 0;
      filter: blur(6px);
      transform: translateY(30px) scale(1.1);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0) scale(1);
    }
  }

  @keyframes settings-modal-down {
    0% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      filter: blur(4px);
      transform: translateY(15px) scale(1.05);
    }
  }

  --animate-bg-fade-in: bg-fade-in 0.3s ease forwards;
  --animate-bg-fade-out: bg-fade-out 0.3s ease forwards;

  @keyframes bg-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes bg-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
